parameters:
  level: 8
  paths:
    - classes
    - admin.php
    - index.php
  bootstrapFiles:
    - constants.php
  scanFiles:
    - ../../cmsimple/adminfuncs.php
    - ../../cmsimple/functions.php
